.slide-4 {
    div{
        text-align: center;
    }
    ul{
        li{
            padding-left: 0;
            text-align: center;
            line-height: 3rem;
        }
    }
    h5{
        font-weight: normal;
//      font-style: normal;
        font-size: 1.1rem;
        color: #10C39C;
        text-align: center;
    }
}