.slide-5{
    p{
        text-indent: 2em;
        font-size: 1.2rem;
        text-align: left;
        color: #2D2D2D;
        line-height: 1.5rem;
    }
    h3:after{
        content: "";
        height: 0.1rem;
        width: 40%;
        background: #B0B0B0;
        position: absolute;
        left: 50%;
        top: 2.5rem;
        transform: translateX(-50%);
    }
    .item-container div{
        padding-left: 4rem;
        span{
            color: #2D2D2D;
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
}
